/*--------------------------------------------------------------
//--    5 3 1 Calculator
//--    By Björn-Eric Abrahamsson 2015
--------------------------------------------------------------*/

@import 'setup';
@import 'type';
@import 'forms';
header,
footer,
.heading,
.weight-input {
    padding: 2rem;
}

.wave-1 {
    border-left: 1em solid $sandstorm;
}

.wave-2 {
    border-left: 1em solid $tahiti;
}

.wave-3 {
    border-left: 1em solid $razzmatazz;
}

.lift {
    padding: 2em;
    position: relative;
    &:nth-child(even) {
        background: white;
    }
}

.main-lifts {
    margin-bottom: 1em;
}

.cell {
    padding: 1em 0.5em 1em 0;
}

//------  Toggle the total
.total {
    background: #cc4;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    display: none;
    padding-right: 2rem;
}
